.header {
	background: #228B22;
	width: 1000px;
	margin: center;
}
.header .logo {
	display: inline-block;
	width: 100px;
	margin: 7px;
}
.header .logo img {
	width: 100%;
}
.header .phone {
	display: inline-block;
	color: black;
	margin: 15px 10px;
	text-decoration: none;
}
.header .menu {
	border-top: 3px solid blue;
	padding: 10px;
	text-align: center;
}
.header .menu .button {
	display: inline-block;
	background: #CC181E;
	color: white;
	padding: 10px 15px;
	border-radius: 12px;
	text-decoration: none;
	font-family: Times New Roman;
}
.header .menu .button:hover {
	background: #A21318;
}

.my-svg-button
{
	fill: #000000;
}

.my-svg-button:hover
{
	fill: #0d6efd;
	cursor: pointer;
}

.my-vertical-centered
{
	margin: auto 0 auto 0;
	padding: 0 4 0 4;
}

.my-padding
{
	padding: 6 12 6 12;
}

.button-margin
{
	margin: 4;
}

.my-button:hover{
	cursor: pointer;
}

.rounded-xl
{
	border-radius: .6rem!important;
}